body{
  background-color: rgba(214, 221, 220, 0.493);
  overflow: auto;
}

.todo-list-container{
  height: auto;
  padding: 20px;
}

.search_input{
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 40px;
  padding: 0 15px;
  border-radius: 30px;
}
